@model IEnumerable<CarRentalSystem.Models.Notification>

@{
    ViewData["Title"] = "My Notifications";
}
<div class="text-center text-light mb-4">
    <h2 class="display-4">My Notifications</h2>
    <p>Here are the latest updates and messages regarding your account and bookings</p>
    <hr style="border-color: rgba(255, 255, 255, 0.2);" />
</div>



<div class="list-group">
    @if (Model.Any())
    {
        @foreach (var notification in Model)
        {
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">@notification.Message</p>
                    <small class="text-muted">@notification.DateSent.ToString("g")</small>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="glass-effect rounded-3 text-center p-5 text-light mb-4">
                    <p class="lead mb-0">You have no notifications</p>
                </div>
            </div>
        </div>
    }
</div>