@{
    ViewData["Title"] = "Contact Us";
}
<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Have questions? We're here to help.</p>
</div>

<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Get in Touch</h5>
                @{
                    // The service is already injected via _ViewImports
                    var contactSettings = await SiteSettingsService.GetSiteSettingsAsync();
                }
                <ul class="list-unstyled text-center mt-4">
                    <li><i class="bi bi-geo-alt-fill"></i> @contactSettings?.Address</li>
                    <li class="mt-2"><i class="bi bi-telephone-fill"></i> @contactSettings?.ContactPhone</li>
                    <li class="mt-2"><i class="bi bi-envelope-fill"></i> @contactSettings?.ContactEmail</li>
                </ul>
            </div>
        </div>
    </div>
</div>